<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qdu.life.mapper.CountdownMapper">
  <select id="getAllAfterTodayCountdown" resultType="qdu.life.model.BO.Countdown.CountdownBO">
    select * from countdown where start_date > current_date order by start_date
  </select>
</mapper>
